{
  "presets": ["@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".ts", ".json"],
        "alias": {
          "tests": ["./tests/"],
          "@config": "./src/config",
          "@routes": "./src/routes",
          "@controllers": "./src/controllers",
          "@middlewares": "./src/middlewares",
          "@db": "./src/db",
          "@models": "./src/models",
          "@validations": "./src/validations",
          "@services": "./src/services"
        }
      }
    ]
  ]
}
